@model List<MenuProductListPageVm>

<h2>Menü Ürünleri</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Menü</th>
            <th>Ürün</th>
            <th>Kategori</th>
            <th>Fiyat</th>
            <th>Aktif mi?</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MenuName</td>
                <td>@item.ProductName</td>
                <td>@item.CategoryName</td>
                <td>@item.UnitPrice ₺</td>
                <td>@(item.IsActive ? "Evet" : "Hayır")</td>
                <td>
                    @if (item.IsActive)
                    {
                        <form asp-action="DeactivateMenuProduct" asp-route-id="@item.Id" method="post" style="display:inline">
                           
                            <button type="submit" class="btn btn-sm btn-warning">Menüden Çıkar</button>
                        </form>
                    }
                    else
                    {
                        <form asp-action="ActivateMenuProduct" asp-route-id="@item.Id" method="post" style="display:inline">
                           
                            <button type="submit" class="btn btn-sm btn-success">Menüye Ekle</button>
                        </form>
                    }

                  
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="CreateMenuProduct" class="btn btn-primary">Yeni Menü Ürünü Ekle</a>